<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>My Online CV</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!-- Font Awesome -->
	<script defer src="https://use.fontawesome.com/releases/v5.8.0/js/brands.js" integrity="sha384-Gt4maPu5ZO/PkTh32sKMYmmCLGuWtMkv5YBtFZpx4Tu+Of3kFZPYBw9iD/pi4L6s" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.8.0/js/fontawesome.js" integrity="sha384-TAztyRuTlqgZ97tz982rMo44MRC58wyCC0pqKZY3cKWJNkK00qMd3DhQ7R25jpCe" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	
</head>
<body>
	<div class="name">
		<header>B r y a n    J e r e m y    B r o w n</header>
	</div>

	<div class="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>

	<div class="heading">
		<h1>I am a Front-End Developer</h1>
	</div>

	<div class="gallery">
		<img src="public/img/img3.jpg" alt="img1" style="height: 200px;">
	</div>
	
	<div class="gallery">
		<img src="public/img/brownfam.jpg" alt="img2" style="height: 200px;">
	</div>
			
	<div class="gallery">
		<img src="public/img/img5.jpg" alt="img3" style="height: 200px;">
	</div>

	<div class="About">
		<div class="block">
		<blockquote>The Desire to Create is One of the Deepest Yearnings of the Human Soul. <cite>~Dieter F.Uchtdorf</cite></blockquote><br/>
		</div>	
	</div>

	<div class="para">
		<h1>About Me</h1><br/><br/>
		<p>I am a 3rd year NDip IT student at UNISA and will be graduating in the year of 2020.</p><br/>
		<p>I am currently learning HTML5, CSS3, JavaScript (ES6) and Angular 6 on my own time as my aim is to become a front-end developer with the end goal of growing into a Full Stack role.</p><br/>
		<p>I am actively looking to break into the industry and make my mark alongside other creative minds. I have gained alot of experience doing personal projects, attending workshops, going to meetups and conferences.</p>
		<p>If you would like to check out my Curriculum Vitea and Cover Letter, you can do so here below.</p><br/>
		<h3>My Cover Letter</h3>
		<a class="file2" title="My Cover Letter" href="cv/bjbcl.pdf" target="_blank"><img src="public/img/cl.png" alt="Cover Letter"></a><br/>
		<h3>My Cirriculum Vitea</h3>
		<a class="file1" title="My Curriculum Vitae" href="cv/bjbcv.pdf" target="_blank"><img src="public/img/cv.png" alt="Curriculum Vitae"></a><br/><br/>
	</div>
	
	<nav>
		<ul id="nav1">
			<li><a href="/">Home</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<ul id="nav2">
			
			<li><a href="#"><span style="color: #30C162;"><i id="img" class="fab fa-hackerrank"></i></span></a></li>
			<li><a href="https://www.github.com/vonschalk2712"><span style="color: white;"><i id="img" class="fab fa-github"></i></span></a></li>
			<li><a href="https://www.linkedin.com/in/bryan-brown-7938ab128"><span style="color: #1778B5;"><i id="img" class="fab fa-linkedin-in"></i></span></a></li>
		</ul>	
	</nav>
	<script>
		alert("THIS SITE IS STILL UNDER CONSTRUCTION");
	</script>
</body>
</html>



