<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>My Online CV</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!-- Font Awesome -->
	<script defer src="https://use.fontawesome.com/releases/v5.8.0/js/brands.js" integrity="sha384-Gt4maPu5ZO/PkTh32sKMYmmCLGuWtMkv5YBtFZpx4Tu+Of3kFZPYBw9iD/pi4L6s" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.8.0/js/fontawesome.js" integrity="sha384-TAztyRuTlqgZ97tz982rMo44MRC58wyCC0pqKZY3cKWJNkK00qMd3DhQ7R25jpCe" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
</head>
<body>
	<div class="name">
		<header>B r y a n    J e r e m y    B r o w n</header>
	</div>



	<div class="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>

	<div class="container">
		<div class="projects">
			<img src="public/img/project1.png" alt="project1"><p>Project 1</p><br/>
			<a href="projects/dreamshare_assets/index.html" target="_blank"><button class="btn1">Demo</button></a>
			<a href="https://github.com/bryanjeremybrown/demo-site" target="_blank"><button class="btn2">GitHub</button></a>
		</div>
		<div class="projects">
			<img src="public/img/coming-soon-message-illuminated-with-light-projector_1284-3622.jpg" alt="project2"><p>Project 2</p>
			<a href="#"><button class="btn1">Demo</button></a>
			<a href=""><button class="btn2">GitHub</button></a>
		</div>
		<div class="projects">
			<img src="public/img/coming-soon.jpg" alt="project3"><p>Project 3</p>
			<a href="#"><button class="btn1">Demo</button></a>
			<a href=""><button class="btn2">GitHub</button></a>
		</div>
	</div>
	<br/><br/>

	<div class="project-details">

	</div>
	<br><br><br><br><br><br><br>
	<nav>
		<ul id="nav1">
			<li><a href="/">Home</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<ul id="nav2">
			
			<li><a href="#"><span style="color: #30C162;"><i id="img" class="fab fa-hackerrank"></i></span></a></li>
			<li><a href="https://www.github.com/vonschalk2712"><span style="color: white;"><i id="img" class="fab fa-github"></i></span></a></li>
			<li><a href="https://www.linkedin.com/in/bryan-brown-7938ab128"><span style="color: #1778B5;"><i id="img" class="fab fa-linkedin-in"></i></span></a></li>
		</ul>	
	</nav>
</body>
</html>